        <div class="ui container">
          <div class="ui medium secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            {% if page.active == "home" %}
              <a class="item active" href="/">Home</a>
            {% else %}
              <a class="item" href="/">Home</a>
            {% endif %}
            <a class="item" href="https://gitter.im/ERC20-AMIS/Lobby"><i class="comment outline icon"></i> Git chat</a>
            {% if page.active == "team" %}
              <a class="item active" href="/team"><i class="users icon"></i> Team</a>
            {% else %}
              <a class="item" href="/team"><i class="users icon"></i> Team</a>
            {% endif %}
            {% if page.active == "roadmap" %}
              <a class="item active" href="/roadmap"><i class="road icon"></i> Roadmap</a>
            {% else %}
              <a class="item" href="/roadmap"><i class="road icon"></i> Roadmap</a>
            {% endif %}  
            {% if page.active == "faq" %}
              <a class="item active" href="/faq"><i class="question icon"></i> FAQ</a>
            {% else %}
              <a class="item" href="/faq"><i class="question icon"></i> FAQ</a>
            {% endif %} 
            <a class="item" href="https://medium.com/@amis_erc20" target="_blank"><i class="medium icon"></i> Blog</a>
            <a class="item" href="https://twitter.com/amis_erc20" target="_blank"><i class="twitter icon"></i> Twitter</a>
            <a class="item" href="https://reddit.com/r/amis_erc20" target="_blank"><i class="reddit alien icon"></i> Reddit</a>
            <a class="item" href="https://amisdex.amisolution.net"><i class="dex icon"></i> AmisDex</a>
            <a class="item" href="https://github.com/amisolution/ERC20-AMIS"><i class="github icon"></i> Github</a>

              <div class="ui dropdown item"><i class="file text outline icon"></i> White paper <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="https://github.com/amisolution/ERC20-AMIS/#whitepaper" target="_blank">
                    <i class="gb flag"></i> English
                  </a>
                </div>
              </div>

          </div>
        </div>
