<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="amis,ethereum-classic,ethereum,bitcoin,waves" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
        <div class="ui container">
          <div class="ui medium secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            {% if page.active == "home" %}
              <a class="item active" href="/">Home</a>
            {% else %}
              <a class="item" href="/">Home</a>
            {% endif %}
            <a class="item" href="https://gitter.im/ERC20-AMIS/Lobby"><i class="comment outline icon"></i> Git chat</a>
            {% if page.active == "team" %}
              <a class="item active" href="/team"><i class="users icon"></i> Team</a>
            {% else %}
              <a class="item" href="/team"><i class="users icon"></i> Team</a>
            {% endif %}
            {% if page.active == "roadmap" %}
              <a class="item active" href="/roadmap"><i class="road icon"></i> Roadmap</a>
            {% else %}
              <a class="item" href="/roadmap"><i class="road icon"></i> Roadmap</a>
            {% endif %}  
            {% if page.active == "faq" %}
              <a class="item active" href="/faq"><i class="question icon"></i> FAQ</a>
            {% else %}
              <a class="item" href="/faq"><i class="question icon"></i> FAQ</a>
            {% endif %} 
            <a class="item" href="https://medium.com/@amis_erc20" target="_blank"><i class="medium icon"></i> Blog</a>
            <a class="item" href="https://reddit.com/r/amis_erc20" target="_blank"><i class="reddit alien icon"></i> Reddit</a>
              <div class="ui dropdown item"><i class="file text outline icon"></i> Explorers <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="https://etherscan.io/token/0x949bEd886c739f1A3273629b3320db0C5024c719" target="_blank">
                    <i class="search icon"></i> EtherScan AMIS-ETH
                  </a>
                  <a class="item" href="https://blockscout.com/etc/mainnet/address/0xD8EBe4E6aC8d3c85E2f243e11e8B96C9B12C85Af/" target="_blank">
                    <i class="search icon"></i> BlockScout AMIS-ETC
                  </a>
                  <a class="item" href="https://blockscout.com/poa/xdai/address/0xD51e1ddD116fFF9A71C1B8FEEb58113aFa2B4d93/" target="_blank">
                    <i class="search icon"></i> BlockScout AMIS-xDAI
                  </a>
                  <a class="item" href="https://bloxy.info/graphs/0x949bed886c739f1a3273629b3320db0c5024c719" target="_blank">
                    <i class="search icon"></i> Bloxy ETH
                  </a>
                  <a class="item" href="https://info.uniswap.org/token/0x949bed886c739f1a3273629b3320db0c5024c719" target="_blank">
                    <i class="search icon"></i> UniSwap ETH v2 Analytics
                  </a>
                  <a class="item" href="https://info.honeyswap.org/token/0xd51e1ddd116fff9a71c1b8feeb58113afa2b4d93" target="_blank">
                    <i class="search icon"></i> HoneySwap xDAI v2 Analytics
                  </a>
                  <a class="item" href="https://coinmarketcap.com/currencies/amis/" target="_blank">
                    <i class="search icon"></i> CoinMarketCap
                  </a>
                  <a class="item" href="https://www.coingecko.com/en/coins/amis" target="_blank">
                    <i class="search icon"></i> CoinGecko
                  </a>
                  <a class="item" href="https://www.cryptocompare.com/coins/amis" target="_blank">
                    <i class="search icon"></i> CryptoCompare
                  </a>                        
                  <a class="item" href="https://amis-token.amisolution.net/circulatingSupply" target="_blank">
                    <i class="search icon"></i> Circulating Supply API
                  </a>
                  <a class="item" href="https://ipfs.io/ipfs/QmV7cTdUEUiLECfvwneeSeonQzYqEsWUEbL3JcW36Vkp8j" target="_blank">
                    <i class="search icon"></i> Aggregate Management Intermediation Set Token Lists
                  </a>
                </div>
              </div>                        
                  
              <div class="ui dropdown item"><i class="file text outline icon"></i> Exchange <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="https://amisdex.amisolution.net/exchange/?pairId=AMISTEST-ETC&utm_source=erc20-amis" target="_blank">
                    <i class="exchange icon"></i> AMIS-ETC Amisdex
                  </a>
                  <a class="item" href="https://amisdex.amisolution.net/exchange/?pairId=AMIS-ETH&utm_source=erc20-amis" target="_blank">
                    <i class="exchange icon"></i> AMIS-ETH Amisdex
                  </a>
                  <a class="item" href="https://www.saturn.network/exchange/ETC/order-book/0xd8ebe4e6ac8d3c85e2f243e11e8b96c9b12c85af" target="_blank">
                    <i class="exchange icon"></i> AMIS-ETC Saturn
                  </a>
                  <a class="item" href="https://www.saturn.network/exchange/ETH/order-book/0x949bed886c739f1a3273629b3320db0c5024c719" target="_blank">
                    <i class="exchange icon"></i> AMIS-ETH Saturn
                  </a>
                  <a class="item" href="https://v1.uniswap.exchange/swap/0x949bEd886c739f1A3273629b3320db0C5024c719" target="_blank">
                    <i class="exchange icon"></i> AMIS UniSwap v1
                  </a>
                  <a class="item" href="https://app.uniswap.org/#/swap?use=v2&outputCurrency=0x949bEd886c739f1A3273629b3320db0C5024c719" target="_blank">
                    <i class="exchange icon"></i> AMIS UniSwap v2
                  </a> 
                  <a class="item" href="https://honeyswap.org/#/swap?outputCurrency=0xD51e1ddD116fFF9A71C1B8FEEb58113aFa2B4d93" target="_blank">
                    <i class="exchange icon"></i> AMIS-xDAI HoneySwap v2
                  </a>
                  <a class="item" href="https://bamboorelay.com/trade/AMIS-WETH" target="_blank">
                    <i class="exchange icon"></i> AMIS-ETH BambooRelay
                  </a>
                  <a class="item" href="https://forkdelta.app/#!/trade/0x949bed886c739f1a3273629b3320db0c5024c719-ETH" target="_blank">
                    <i class="exchange icon"></i> AMIS-ETH Etherdelta/Forkdelta
                  </a>                        
                </div>
              </div>
              <div class="ui dropdown item"><i class="file text outline icon"></i> Support <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="https://github.com/amisolution/ERC20-AMIS/issues" target="_blank">
                    <i class="github icon"></i> Github
                  </a>
                  <a class="item" href="https://twitter.com/AMIS_ERC20" target="_blank">
                    <i class="twitter icon"></i> Twitter
                  </a>
                       
                  <a class="item" href="https://amisolution.slack.com/messages/erc20token" target="_blank">
                    <i class="slack icon"></i> Slack
                  </a>
                  <a class="item" href="https://gitter.im/ERC20-AMIS/Lobby" target="_blank">
                    <i class="chat icon"></i> GitChat
                  </a>
                  <a class="item" href="https://bitcointalk.org/index.php?topic=1816765.0" target="_blank">
                    <i class="bitcointalk icon"></i> BitcoinTalk
                  </a>
                  <a class="item" href="https://t.me/amis_token" target="_blank">
                    <i class="telegram icon"></i> Telegram
                  </a>                        
                  <a class="item" href="https://www.facebook.com/amis.erc20" target="_blank">
                    <i class="facebook icon"></i> FaceBook
                  </a>                        
                </div>
              </div>                    
              <div class="ui dropdown item"><i class="file text outline icon"></i> White paper <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="https://github.com/amisolution/ERC20-AMIS/#whitepaper" target="_blank">
                    <i class="gb flag"></i> English
                  </a>
                </div>
              </div>

          </div>
        </div>
