<div class="ui vertical inverted sidebar menu">
  <a class="item" href="/">Home</a>
  <a class="item" href="https://gitter.im/ERC20-AMIS/Lobby"><i class="comment outline icon"></i> Git chat</a>
  <a class="item" href="/team"><i class="users icon"></i> Team</a>
  <a class="item" href="/roadmap"><i class="road icon"></i> Roadmap</a>
  <a class="item" href="/faq"><i class="question icon"></i> FAQ</a>
  <a class="item" href="https://medium.com/@amis_erc20" target="_blank"><i class="medium icon"></i> Blog</a>
  <a class="item" href="https://twitter.com/amis_erc20" target="_blank"><i class="twitter icon"></i> Twitter</a>
  <a class="item" href="https://reddit.com/r/amis_erc20" target="_blank"><i class="reddit alien icon"></i> Reddit</a>
  <a class="item" href="https://github.com/amisolution/ERC20-AMIS/#whitepaper"><i class="gb flag"></i> White paper [English]</a>
  <a class="item" href="https://github.com/erc20-amis"><i class="github icon" aria-hidden="true"></i> Github</a>
</div>
