---
layout: default
---
<div class="ui centered grid" style="padding-top: 30px;">
  <div class="ten columns">
    <div class="ui text container" id="header" style="margin-top: 40px"><img src="/assets/vertical-logo.png" width="15%" style="max-height: 100px"></div>
  </div>
</div>
<div class="ui centered grid" style="margin-top: 40px">
  <div class="ten columns">
    <button class="ui large red button" onclick="$('#mcform').show()">Register for updates &raquo;</button>
  </div>
</div>

<div class="ten columns">
  <h1>&nbsp;</h1></div>
<div style="height:50px;"></div>
<div class="ui container">
  <div class="ui centered cards blog" id="jsonContent"></div>
</div>
</div>
